.sform {
    width: 500px;
}

.titulo {
    font-size: 30px;
    font-weight: bold;
}

.ttitulo{
    text-align: center; 
    margin-top:5%;
    max-width: 80%;
    margin-left: 10%;
    background-color: rgba(255, 255, 255, 0.822)
}

.btnheader{
    flex-direction: row;
}

.btnheader li{
    margin-left: 3px;
}

body{
    background-image: url("../image/modelo-inconsútil-vertical-de-los-símbolos-de-la-ecología-38448065.jpg");
}

#tmateriales{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: rgba(95, 170, 72, 0.966) 5px solid;
}

#form{
    border: rgba(95, 170, 72, 0.966) 5px solid;
}
#required-field::after {
    content: "*";
    color: red;
}